*.log
*.parquet
*.csv
__pycache__/
*.pyc
btcanalysishust-52ca6add0469.json
test.ipynb
btcanalysishust-b10a2ef12088.json
.env
venv
/config
/spark-env
test.ipynb
btcanalysishust-b10a2ef12088.json
airflow\dags\utils\btcanalysishust-b10a2ef12088.json
